Options -Indexes
RewriteEngine on
RewriteBase /

RewriteCond %{HTTP_HOST} ^pocchong\.de$ [NC]
RewriteRule ^(.*)$ http://www.pocchong.de/$1 [R=301,L,NC]

# ---------- TMP 503 REDIRECTS ----------


# ---------- custom http response pages ----------
ErrorDocument 403 /nerv/my_httpd.php?code=403
ErrorDocument 404 /nerv/my_httpd.php?code=404
ErrorDocument 500 /nerv/my_httpd.php?code=500
ErrorDocument 503 /nerv/my_httpd.php?code=503


# ---------- special redirects ----------
RewriteRule ^backyard/ /nerv/frontend/static_index.php [L,NC]
RewriteRule ^about/ /s/_about [L,NC]
RewriteRule ^gradient/ /nerv/gradient2D/gmixer_wrapper.php [L,NC]
RewriteRule ^a/dosql/ /nerv/admin/dosql.php [L,NC]


# ---------- general setup ----------
# in-post img files
RewriteRule ^img/(.+)$ /image_files/$1 [L,NC]


# ---------- static pages ----------
# index of on-HP static pages
RewriteRule ^s/([^/]+)/?$ /nerv/frontend/static.php?file=$1.php [L,NC]
# non-indexed, v for private
# use direct filename for *.html
RewriteRule ^v/([^/]+)\.html/?$ /pages/static2/$1.html [L,NC]
# redirect to use static template for *.php to apply for site-wide styling
RewriteRule ^v/([^/]+)/?$ /nerv/frontend/static.php?file=$1.php&private=1 [L,NC]
# index of unlisted static pages
RewriteRule ^v/ /nerv/frontend/static2_index.php [L,NC]


# ---------- other main pages ----------
# mygirls
RewriteRule ^mygirls/ /nerv/frontend/mg_index.php [L,NC]
# archiv
RewriteRule ^archiv/ /nerv/frontend/archiv.php [L,NC]
# post
RewriteRule ^days/ /nerv/frontend/post.php [L,NC]


# ---------- admin pages ----------
# general redirects
RewriteRule ^a/([^/]+)/? /nerv/admin/$1.php [L,NC]
RewriteRule ^a/$ /nerv/admin/login.php [L,NC]


# ---------- no more change, archive pages ----------
RewriteRule ^cyouwa/?$ /pages/cyouwa/index.php [L,NC]
RewriteRule ^cyouwa/(.+)$ /pages/cyouwa/$1 [L,NC]
