Options -Indexes
RewriteEngine on
RewriteBase /

RewriteCond %{HTTP_HOST} ^pocchong\.de$ [NC]
RewriteRule ^(.*)$ http://www.pocchong.de/$1 [R=301,L,NC]

#### TMP 503 REDIRECTS #############

########## special redirects ###########
RewriteRule ^design/?$ /cgi-bin/indiv_cssdesign.php [L,NC] #self-use. not linked publicly
RewriteRule ^backyard/?$ /cgi-bin/page_backyard.php [L,NC]
RewriteRule ^about/?$ /s/about [L,NC]
RewriteRule ^gradient/?$ /cgi-bin/exec/gradient_maker.cgi [L,NC]


##### redirect from clean url to source code #############
# --------------- locations ----------------------
RewriteRule ^file/(.+)/?$ /backyard/files/$1 [L,NC]


# --------------- archiv ----------------------
RewriteRule ^archiv/y/(\d+)/?$ /cgi-bin/page_archiv.php?year=$1 [L,NC]
RewriteRule ^archiv/(\d+)/?$ /cgi-bin/page_archiv.php?page=$1 [L,NC]
RewriteRule ^archiv/?$ /cgi-bin/page_archiv.php [L,NC]

# -------- calendar ---------------
# RewriteRule ^calendar/y/(\d{4})/(\d{1,2})?$ /cgi-bin/page_calendar.php?year=$1&col=$2 [L,NC]
# RewriteRule ^calendar/y/(\d{4})/col=(\d+)?$ /cgi-bin/page_calendar.php?year=$1&col=$2 [L,NC]
RewriteRule ^calendar/y/(\d{4})/?$ /cgi-bin/page_calendar.php?year=$1 [L,NC]
# RewriteRule ^calendar/(\d{1,2})$ /cgi-bin/page_calendar.php?col=$1 [L,NC]
RewriteRule ^calendar/?$ /cgi-bin/page_calendar.php [L,NC]

# ------------mygirls -------------
RewriteRule ^mygirls/p/(\d*)/?$ /cgi-bin/page_mygirls_imglist.php?page=$1 [L,NC]
RewriteRule ^mygirls/(\d*) /cgi-bin/page_mygirls_single.php?id=$1 [L,NC]
RewriteRule ^mygirls/?$ /cgi-bin/page_mygirls_imglist.php [L,NC]

#old MG
# RewriteRule ^mygirls/t/(\d+)/?(\d*) /cgi-bin/page_mygirls.php?tag=$1&offset=$2 [L,NC]
# RewriteRule ^mygirls/(\d*) /cgi-bin/page_mygirls.php?id=$1 [L,NC]
# RewriteRule ^mygirls/?$ /cgi-bin/page_mygirls.php [L,NC]

#------------------ post -----------
RewriteRule ^post/?(.*)?$ /days/$1 [R,NC] #old url [post] redirect to new url [days]
RewriteRule ^days/p/?(\d*) /cgi-bin/page_post.php?page=$1 [L,NC]
RewriteRule ^days/(\d*) /cgi-bin/page_post.php?id=$1 [L,NC]
RewriteRule ^days/?$ /cgi-bin/page_post.php [L,NC]

# general static pages
RewriteRule ^s/([^/]+)/?$ /cgi-bin/page_static.php?tag=$1 [L,NC]

# -------------------- admin pages --------------------------
RewriteRule ^a/list_table/(\w+)/page/(\d+)/?$ /cgi-bin/admin/list_table.php?sel=$1&page=$2 [L,NC]
RewriteRule ^a/list_page/(\d+)/?$ /cgi-bin/admin/list_page.php?page=$1 [L,NC]
RewriteRule ^a/(edit_[^/]+)/?$ /cgi-bin/admin/$1.php [L,NC]
RewriteRule ^a/([^/]+.cgi)/? /cgi-bin/admin/$1 [L,NC]
RewriteRule ^a/([^/]+)/? /cgi-bin/admin/$1.php [L,NC]
RewriteRule ^a/?$ /cgi-bin/admin/login.php [L,NC]

# ---------- no more change, archive pages-----------
RewriteRule ^shinya/?$ /s/kaidan [L,NC]
RewriteRule ^cyouwa/?$ /backyard/cyouwa/index.php [L,NC]
RewriteRule ^cyouwa/(.+)$ /backyard/cyouwa/$1 [L,NC]
