Options -Indexes
RewriteEngine on
RewriteBase /

RewriteCond %{HTTP_HOST} ^pocchong\.de$ [NC]
RewriteRule ^(.*)$ http://www.pocchong.de/$1 [R=301,L,NC]

#### TMP 503 REDIRECTS #############



########## special redirects ###########
RewriteRule ^backyard/ /nerv/page/static_index.php [L,NC]
RewriteRule ^about/ /s/_about [L,NC]
RewriteRule ^gradient/ /nerv/gradient2D/gmixer_wrapper.php [L,NC]
RewriteRule ^a/dosql/ /nerv/admin/dosql.php [L,NC]


##### general setup #############
# js/css/img stuff
RewriteRule ^deco/(.+)$ /dendron/deco/$1 [L,NC]
# in-post img files
RewriteRule ^img/(.+)$ /axon/samune/$1 [L,NC]


##### redirect from clean url to source code #############

# ----- static pages -----
# index of on-HP static pages
RewriteRule ^s/([^/]+)/?$ /nerv/page/static.php?file=$1.php [L,NC]
# non-indexed, v for private
# use direct filename for *.html
RewriteRule ^v/([^/]+)\.html/?$ /dendron/static2/$1.html [L,NC]
# redirect to use static template for *.php to apply for site-wide styling
RewriteRule ^v/([^/]+)/?$ /nerv/page/static.php?file=$1.php&private=1 [L,NC]
# index of not-on-HP static pages
RewriteRule ^v/ /nerv/page/static2_index.php [L,NC]

# ----- other main pages -----
# mygirls
RewriteRule ^mygirls/ /nerv/page/mg_index.php [L,NC]
# archiv
RewriteRule ^archiv/ /nerv/page/archiv.php [L,NC]
# post
RewriteRule ^days/ /nerv/page/post.php [L,NC]


# -------------------- admin pages --------------------------
# general redirects
# RewriteRule ^a/list_table/(\w+)/page/(\d+)/?$ /nerv/admin/list_table.php?sel=$1&page=$2 [L,NC]
# RewriteRule ^a/list_page/(\d+)/?$ /nerv/admin/list_page.php?page=$1 [L,NC]
RewriteRule ^a/(edit_[^/]+)/ /nerv/admin/$1.php [L,NC]
RewriteRule ^a/([^/]+)/? /nerv/admin/$1.php [L,NC]
RewriteRule ^a/$ /nerv/admin/login.php [L,NC]


# ####### no more change, archive pages #######
RewriteRule ^cyouwa/?$ /dendron/cyouwa/index.php [L,NC]
RewriteRule ^cyouwa/(.+)$ /dendron/cyouwa/$1 [L,NC]
