<!DOCTYPE html>
<html>
<head><meta charset="utf-8" /><link rel="stylesheet" type="text/css" href="/index.css" /></head><title>Preview::Frag</title>
<body>make sure the content doesn't go across the red box!<br />
<div id="main-msg" style="border: 2px dashed red">
<TMPL_VAR NAME=content>
</div>
</body></html>