<TMPL_INCLUDE NAME="shared_pre_a.tmpl">
<div style="text-align:center"><h3>super zone</h3>
<form action="/a/login.cgi" method="post" accept-charset="utf-8" target="">
		user: <input type="text" name="usr" size="20"><br />
		pass: <input type="password" name="pw" size="20"><br />
	<input type="submit" name="cmd" value="login"><br />
</form>
</div>
<TMPL_INCLUDE NAME="shared_post_a.tmpl">