<TMPL_INCLUDE NAME="shared_pre_a.tmpl">
<h3>Pin protected entries</h3>

<TMPL_IF NAME="empty">
the sql table "passcode" doesn't have any record. everything is 100% public.
<TMPL_ELSE>
<div>
<TMPL_IF NAME=prev><a href="<TMPL_VAR NAME=prev>">prev</a></TMPL_IF>
<TMPL_IF NAME=next><a href="<TMPL_VAR NAME=next>">next</a></TMPL_IF>
</div>
<table>
<tr>
	<th>id</th>
	<th>table</th>
	<th>item_id</th>
	<th>title</th>
	<th>md5hex</th>
	<th>view</th>
	<th>edit</th>
</tr>
<TMPL_LOOP NAME="list"><tr>
	<td><TMPL_VAR NAME=id></td>
	<td><TMPL_VAR NAME=table></td>
	<td><TMPL_VAR NAME=item_id></td>
	<td><TMPL_VAR NAME=title></td>
	<td><TMPL_VAR NAME=md5hex></td>
	<td><a href="<TMPL_VAR NAME=view>">view</a></td>
	<td><a href="<TMPL_VAR NAME=edit>">edit</a></td>
</tr></TMPL_LOOP>
</table>
</TMPL_IF>
<TMPL_INCLUDE NAME="shared_post_a.tmpl">