/* colour scheme -- iroshizuku: hana-ikada */
body {
	/* https://www.pexels.com/photo/christmas-board-decors-1303098/ */
	background: #fff4f4 url("img/bg_seitan.jpg") no-repeat top right fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/* general text color */
body, .netabare:hover, .archiv li a, textarea {
	color:#20030c;
}
/* must put on top or will overwrite later "a" */
a:link, a:hover, a:visited {
	color: #3488ff;
}

/*-----------post---------------*/
.datetime, .datetime a {
	color: #939000;
}
/* inline-box: for "edit" button when cookie is alive*/
/* post-shell: applies trans-white bg , or a second img on top, etc...*/
.post-shell, .inline-box { /* applies trans-white bg , or a second img on top, etc...*/
	background: rgba(255,255,255,0.7);
	border: 1px solid #f37e7e;
}
.post-inner {
	/* background: url("/deco/img/splash_flower2.png") right bottom no-repeat; */
}
.post-inner h2, .post-inner h3 {
	background: #ee4f4f;
	box-shadow: 0 5px 6px rgb(219 120 120);
}
.post-inner h2, .post-inner h3, .post-inner h3 a, .post-inner h3 a:hover {
	color: #fff06c;
}
.post-inner h3:hover {
	background: rgb(194 1 1);
}
.post-inner h4 {
	border-left: 11px solid #02ad1b;
	border-bottom: 2px dotted #02ad1b;
}
.post-inner h4, .archiv-year a, .archiv-year a:hover {
	color: #009416;
}


/*-------archiv -------*/
.archiv-year { /* same as post h4 */
	border-left: 12px solid #02ad1b;
}
.archiv li {
	border-bottom: 1px #005e0e dashed;
}
.archiv li:hover {
	background: rgba(162,128,151,0.1);
}

blockquote, textarea, pre, .netabare {
	background: rgba(255,255,255,0.7);
}
blockquote {
	box-shadow: 3px 3px 4px #d4cbcf;
}
.netabare {
	color:transparent;
}


/*-------- header ---------*/
#header-img {
	background: url("img/mizuhiki_gold_yellow.png") top left no-repeat;
}
/*------menu bar-----------*/
#menu-out { /* shell for both menu and img version of h1 */
/* border: 1px solid red; */
	background:url("img/header_light_red.png") top left no-repeat;
	background-position: 475px 20px; /* this MUST present in theme.css to support above background */
}
ul#menu li, ul#menu ul.sub-menu li {
	background: rgba(255,255,255,0.7);
	border: 1px solid #109902;
}
ul#menu li a, ul#menu li ul.sub-menu li a {
	color: rgb(2 123 0);
}
ul#menu li:hover a, ul#menu ul.sub-menu li:hover a {
	color: #fff;
}
ul#menu li:hover, ul#menu ul.sub-menu li:hover {
	background: #50b175;
	border: 1px solid #47c86b;
}

/*--------- layout -----*/
#master-wrap {
	background: rgba(255,255,255,0.8);
	border: 2px solid #ff6161;
}


/*-------- img for both post and mg -----------*/
/* .gallery-img-frame: force the div to properly contain the floated images: */
/* .mgarchive-container: MG archive page, hover-to-show-title effect */
article img, .stdalone img, .gallery-img-frame, .mgarchive-container {
	border-color: #dad064 !important; /* need important or the stdalone border will be overwritten, reason unknown */
}
.mgarchive-container {
	box-shadow: 1px 1px 3px #84a17c;
}
/*------- mygirls image frame -------*/
.stdalone img {
	background: rgba(255,255,255,0.6);
	box-shadow: 3px 3px 4px #84a17c;
}
.mgarchive-overlay {
	background: rgba(21,70,0,0.75); /* Black see-through */
	color: #f1f1f1;
}
.mg-h-line {
	border-bottom: 3px double rgb(213 21 55);
	text-shadow: 2px 2px 2px rgb(165 106 117);
}


/*--------footer-------*/
.navi-bar a, .navi-bar-square a, .navi-prev a, .navi-next a {
	color:#239500;
}
.navi-bar-square-self a {
	color: #fff;
}
.navi-bar-square, .navi-bar-square-self, .navi-prev, .navi-next {
	border: 1px solid #d10000;
}
.navi-bar-square {
	background: rgba(255,255,255,0.3);
}
.navi-bar-square-self {
	background: rgb(199 69 69);
}
.navi-prev, .navi-next {
	background: rgba(255,255,255,0.4);
}
.credit, .credit a:link, .credit a:hover, .credit a:visited {
	color: #d71010;
}
