/* colour scheme */
body {
	color:#373737;
	background: #7294ba url("/deco/img/oceanreflect3.jpg") no-repeat top right fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a:link, a:hover, a:visited { color: #de0c8a; }

blockquote {
	background: rgba(22,53,140,0.1);
	box-shadow: 3px 3px 4px #bdc4e5;
}
/* for code */
textarea {
	background: rgba(22,53,140,0.1);
}
pre {
	background: rgba(22,53,140,0.1);
}


/*-------- header ---------*/
#header-img {
	background: url("/deco/theme/img/mizuhiki_red_pink.png") top left no-repeat;
}

/*--------- layout -----*/
#master-wrap {
	background: rgba(255,255,255,0.4);
	border: 2px solid rgba(9,68,125,0.6);
}

/*-----------post---------------*/
.datetime {
	color: #000f67;
}
.datetime a {
	color: #000f67;
}
.inline-box { /* for "edit" button when cookie is alive*/
	background: rgba(255,255,255,0.7);
	border: 1px solid #000f67;
}
.post-shell { /* applies trans-white bg , or a second img on top, etc...*/
	background: rgba(255,255,255,0.85);
	border: 1px solid rgba(11,85,156,0.8);
}
.post-inner {
	background: url("/deco/img/splash_flower2.png") right bottom no-repeat; /* affects post block's bg */
}
.post-inner h2, .post-inner h3 {
	background: rgba(22,53,140,0.8);
	box-shadow: 0 5px 6px rgba(22,53,140,0.6);
}
.post-inner h2 {
	color: #fff;
}
.post-inner h3, .post-inner h3 a, .post-inner h3 a:hover {
	color: #fff;
}
.post-inner h3:hover {
	background: rgba(22, 53, 140, 0.5);
}
.post-inner h4 {
	border-left: 11px solid rgba(22,53,140,0.8);
	border-bottom: 2px dotted rgba(22,53,140,0.8);
	color: #001c4b;
}

/*------- custom content tags------------*/
.netabare {
	color:transparent;
	background: rgba(22,53,140,0.1);
}
.netabare:hover {
	color:#373737;
}


/*-------archiv -------*/
.archiv-year {
	border-left: 12px solid rgba(22,53,140,0.8);
}
.archiv-year a, .archiv-year a:hover {
	color: #16358c;
}
.archiv li {
	border-bottom: 1px #5e76ad dashed;
}
.archiv li:hover {
	background: rgba(22,53,140,0.1);
}
.archiv li a {
	color: #373737;
}

/*-------- img for both post and mg -----------*/
article img {
	border: 6px double #6A93C5;
}

/*------- mygirls image frame -------*/
.stdalone img {
	background: rgba(255,255,255,0.6);
	border: 6px double #6A93C5;
	box-shadow: 3px 3px 4px #A5BFDD;
}

/*--- MG archive page, hover-to-show-title effect ---*/
.mgarchive-container {
	border: 4px double #6A93C5;
	box-shadow: 1px 1px 3px #8ca86f;
}
.mgarchive-overlay {
	background: rgba(0, 0, 0, 0.7); /* Black see-through */
	color: #f1f1f1;
}
.mgarchive-container:hover .mgarchive-overlay {
  opacity: 1;
}
.gallery-img-frame { /* force the div to properly contain the floated images: */
	border: 4px double #6A93C5;
}
.mg-h-line {
	border-bottom: 3px double rgba(22,53,140,0.8);
	text-shadow: 2px 2px 2px rgba(22,53,140,0.8);
}

/*------menu bar-----------*/
#menu-out { /* shell for both menu and img version of h1 */
/* border: 1px solid red; */
	background:url("/deco/theme/img/header_pink_blue.png") top left no-repeat;
	background-position: 475px 20px; /* this MUST present in theme.css to support above background */
}
ul#menu li, ul#menu ul.sub-menu li {
	background: rgba(255,255,255,0.7);
	border: 1px solid rgb(104,113,189,0.5);
}
ul#menu li a, ul#menu li ul.sub-menu li a {
	color: rgba(29,17,82,1);
}
ul#menu li:hover a, ul#menu ul.sub-menu li:hover a {
	color: #fff;
}
ul#menu li:hover, ul#menu ul.sub-menu li:hover {
	background: rgba(22,53,140,0.8);
	border: 1px solid rgba(13,46,82,0.6);
}



/*--------footer-------*/
.navi-bar a, .navi-bar-square a {
	color:#16358c;
}
.navi-bar-square-self a {
	color: #fff;
}
.navi-bar-square, .navi-bar-square-self {
	border: 1px solid #16358c;
}
.navi-bar-square {
	background: rgba(255,255,255,0.3);
}
.navi-bar-square-self {
	background: rgba(22,53,140,0.7);
}
.navi-prev, .navi-next {
	background: rgba(255,255,255,0.4);
	border: 1px solid rgba(22,53,140,0.3);
}
.navi-prev a, .navi-next a {
	color:#16358c;
}
.credit, .credit a:link, .credit a:hover, .credit a:visited {
	color: #D0D6E8;
}
