#poc-tweets {
    /*background: orange; */
    width:85%;
    font-size: 90%;
    margin: auto;
    height: 600px;
    overflow-y:scroll;
}
#poc-tweets { /* hide scroll bar */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
#poc-tweets::-webkit-scrollbar { /* hide scroll bar */
    display: none;  /* Safari and Chrome */
}
#poc-tweets ul {
    list-style-type: none;
    margin-left: -30px;
}
#poc-tweets li {
    /* background: pink; */
    background: rgba(255,255,255,0.5);
    border-radius: 15px;
    margin: 10px;
    padding: 10px 20px 12px;
}
#poc-tweets .timePosted {
    font-size: 80%;
    border-bottom:2px #d0d2d5 solid;
    margin-bottom:5px;
}
#poc-tweets .timePosted a:link{
    color:#0f306d;
}
#poc-tweets .tweet {
    display:inline-block;
    width: 65%;
    margin: auto 15px;
    vertical-align:top;
    /*border-right: 1px solid red;*/
}
#poc-tweets .media {
    display:inline-block;
    text-align:center;
    width:22%;
}
#poc-tweets .media img {
    max-height: 130px;
    max-width: 180px;
}
