/* base layout */
body {
	font-size: 110%;
	font-family: Exo,"Yu Gothic UI", sans-serif;
	background: var(--body-bg) var(--body-img) no-repeat top right fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* must put on top or will overwrite later "a" inside a class */
a:hover {
	text-decoration: underline;
}
a:link, a:visited {
	text-decoration: none;
}
a:link, a:hover, a:visited {
	color: var(--body-link-color);
}

.p { margin: 10px auto; } /* class=p as <p>*/
.bigger { font-size:130%; }
.smaller { font-size:80%; }
.exbig { font-size:180%; }
.exsmall { font-size:50%; }

/* general text color */
body, .netabare:hover, .archiv li a, textarea {
	color: var(--body-text-color);
}
.netabare {
	background: var(--post-blockquote-bg);
	color:transparent;
}

/* -- ul is relative to "ul#menu li ul.sub-menu" -- */
ul {
	list-style-type: square;
	padding-left:30px;
}
blockquote {
	background: var(--post-blockquote-bg);
	border-radius: 2px;
	box-shadow: 3px 3px 4px var(--post-box-shadow);
	margin:20px auto;
	padding:15px 20px;
	width: 85%;
}
pre {
	background: var(--post-blockquote-bg);
	padding: 15px 20px;
	white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
textarea {
	background: var(--post-blockquote-bg);
}

/*-------- header ---------*/
#header-img {
	background: var(--mizuhiki) top left no-repeat;
	display:inline-block;
	position: absolute;
	width: 480px;
	height:303px;
	z-index:15;
}
#header-outer h1 {
	display:none;
}
#headerlink { /* for linking header to homepage*/
	display:block;
	position: absolute;
	z-index:20;
	top:60px;
	left:595px;
	width:415px;
	height:85px;
}

/*------- main content layout -----*/
#master-wrap, #post-list-wrap .datetime, .post-shell, .post-inner h3, .post-inner, .post-inner blockquote {
	overflow-x: hidden;
	overflow-y: hidden;
}
#master-wrap {
	background: var(--master-wrap-bg);
	border: 2px solid var(--master-wrap-border);
	display: block;
	margin: 25px auto 20px;
	padding-bottom: 30px;
	width: 1100px;
}
#content-wrap {
/* background: yellow; */
	margin-top:15px;
}
#mainlayer { /* style relies on the positioning of image */
	/* background: pink; */
	width: 960px;
	margin: auto;
}
#post-list-wrap {
	display: block;
	margin: auto auto 55px;
	/* background: green; */
}

/*-----------post---------------*/
.datetime {
	/* background: pink; */
	font-size: 80%;
	font-weight: bold;
	margin-bottom: -17px;
	text-align: right;
}
.datetime a {
	text-decoration: none;
}
datetime, .datetime a {
	color: var(--post-date-color);
}
.inline-box { /* for "edit" button when cookie is alive*/
	background: var(--post-shell-bg);
	border: 1px solid var(--post-shell-border);
	display: inline-block;
	font-size: 90%;
	margin:auto auto 10px 20px;
	text-align:center;
	padding: 5px;
}
.post-shell { /* applies trans-white bg , or a second img on top, etc...*/
	background: var(--post-shell-bg);
	border-radius: 3px;
	border: 1px solid var(--post-shell-border);
	margin-bottom: 35px;
	padding: 10px 0 15px;
}
.post-shell:last-child {
	margin-bottom: -15px;
}
.post-inner { /* add background here if want to show a bg for each post's div */
	padding: 15px 30px 10px;
}
.post-inner h2, .post-inner h3 {
	background: var(--post-title-bg);
	box-shadow: 0 5px 6px var(--post-box-shadow);
	color: var(--post-title-color);
	border-radius: 3px;
	font-family: 'Milonga', cursive;
}
.post-inner h2 {
	text-align:center;
	padding: 10px 15px;
	margin: 2px 0 20px;
}
.post-inner h3 {
	margin: 22px -35px 18px;
	padding: 10px 33px;
}
.post-inner h3:hover {
	background: var(--post-title-bg-hover);
}
.post-inner h3 a {
	color: var(--post-title-color);
	display: inline-block;
	width: 100%;
}
.post-inner h3 a:hover {
	color: var(--post-title-color);
}
.post-inner h4 {
	border-left: 11px solid var(--post-h4-border);
	border-bottom: 2px dotted var(--post-h4-border);
	color: var(--post-h4-color);
	margin-bottom: -2px;
	padding: 1px 0 3px 8px;
}
.post-inner article {
	margin: 30px 10px 25px;
	line-height: 28px;
}
.line {
	color:#8266de; /* used when browser doesn't work with gradient or is of non=webkit */
	max-width:95%;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	background: -webkit-repeating-linear-gradient(left top,#8266de,#C996D9 8%,#6A7BD9 16%,#8CCBCF 24%,#74C285 32%,#EBDA7B 40%,#FFA154 48%, #8266de 56%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
	font-weight: bold;
	line-height: 200%;
	margin:10px auto;
	vertical-align:middle;
	font-family: "Yu Gothic", Meiryo;
	display:block; /*in case I put it in a <span>*/
	white-space: nowrap; /* limit this elem to be in one line*/
	overflow: hidden;
}


/*-------archiv -------*/
.archiv-year {
	border-left: 12px solid var(--post-h4-border);
	padding: 6px;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 105%;
	padding-left: 10px;
}
.archiv-year a, .archiv-year a:hover {
	color: var(--post-h4-color);
	font-family: 'Milonga';
}
.archiv {
	padding:5px 0 20px;
}
.archiv ul {
	list-style-type: none;
	margin-top:-5px;
	padding-inline-start: 0;
}
.archiv li {
	padding-top: 7px;
	border-bottom: 1px var(--archiv-list-border-bottom) dashed;
}
.archiv li a {
	text-decoration:none;
}
.archiv li:hover {
	background: var(--archiv-list-bg-hover);
}
.archiv li:hover a:link, .archiv li:hover a:visited {
	font-weight: bold;
}
.archivdate {
	width: 11%;
	display: inline-block;
	text-align:right;
	margin-right: 15px;
}
/*for static page list, title*/
.archivname {
	font-weight: bold;
	line-height: 220%;
	margin-left: 30px;
}
.archivdesc {
	font-style:italic;
}


/*-------- img for both post and mg -----------*/
article img {
	padding: 3px;
	margin: 5px;
	max-height:400px;
	max-width: 55%;
	border: 6px double var(--gallery-border) !important;
}

/*------- mygirls image frame -------*/
.gallery { /* wrapper layer, for both index page and sub-section in individual page for variation pics below stdalone */
	text-align: center;
	margin-top: 20px;
}
.stdalone {
	text-align:center;
	margin: 20px 0;
}
.stdalone img {
	background: var(--gallery-stdalone-border);
	border: 5px double var(--gallery-border) !important;
	box-shadow: 3px 3px 4px var(--gallery-box-shadow);
	max-width:80%;
	max-height: 470px;
	padding: 12px; /* for border effect */
}


/*--- MG archive page, hover-to-show-title effect ---*/
.mgarchive-container {
	border: 4px double var(--gallery-border) !important;
	box-sizing: border-box;
	box-shadow: 1px 1px 3px var(--gallery-box-shadow);
	display:inline-block;
	margin: 5px 3px;
	padding: 2px;
	position: relative;
	height: 270px;
}
.mgarchive-image { /* Make the image to responsive */
	display: block;
	height:100%;
	box-sizing: border-box;
}
.mgarchive-overlay {
	background: var(--gallery-grid-overlay-bg);
	box-sizing: border-box;
	bottom: 0;
	color: var(--gallery-grid-overlay-color);
	font-weight:bold;
	padding: 5px;
	margin-left: -3px;
	opacity: 0;
	position: absolute;
	text-align: center;
	transition: .5s ease;
	width: 101%;
}
.mgarchive-container:hover .mgarchive-overlay {
  opacity: 1;
}
.gallery-img-frame { /* force the div to properly contain the floated images: */
	clear:none;
	border: 4px double var(--gallery-border) !important;
	display:inline-block;
	height: 200px;
	margin: 0;
	padding: 0;
	overflow:hidden;
	position:relative;
	text-align:center;
}
.gallery-img-frame img {
	height: 100%;
}
.mg-h-line {
	border-bottom: 3px double var(--gallery-border);
	text-shadow: 2px 2px 2px var(--gallery-box-shadow);
	display:block;
	font-size: 130%;
	margin-top: 25px;
	text-align:center;
	width: 90%;
	margin: auto;
}


/*------menu bar-----------*/
#menu-out { /* shell for both menu and img version of h1 */
	background: var(--title-img) top left no-repeat;
	background-position: 475px 20px; /* this MUST present to support above background */
	display:inline-block;
	font-family: 'Milonga', "Book Antiqua","Palatino Linotype", Palatino, "MS Mincho", serif;
	width: 100%;
}
ul#menu { /* adjust menu position inside of #menu-out */
/* border: green 1px solid; */
	margin-top: 130px;
	padding-left: 390px;
}
ul#menu li {
	position: relative;
	margin-left: -6px;
	width: 100px;
}
ul#menu li ul.sub-menu {
	display:none;
	position: absolute;
	margin-left:-25px;
}
ul#menu ul.sub-menu li {
	width: 100px;
}
ul#menu li:hover ul.sub-menu { /* show sub menu on hover */ 
	display:block;
}
ul#menu li, ul#menu ul.sub-menu li {
	background: var(--menu-bg);
	border: 1px solid var(--menu-border);
    display: inline-block;
    list-style-type: none;
	text-align:center;
	z-index: 30;
}
ul#menu li a, ul#menu li ul.sub-menu li a {
	color: var(--menu-color);
    display:inline-block;
	font-weight:bold;
    padding: 4px;
	text-decoration: none;
}
ul#menu li:hover, ul#menu ul.sub-menu li:hover {
	background: var(--menu-hover-bg);
	border: 1px solid var(--menu-hover-border);
}
ul#menu li:hover a, ul#menu ul.sub-menu li:hover a {
	color: var(--menu-hover-color);
}


/*--------footer-------*/
#footer-navi {
	margin: -30px auto -5px;
}
.navi-bar {
	display: block;
	font-size: 90%;
	text-align: center;
}
.navi-bar-square {
	background: var(--navi-box-bg);
	border: 1px solid var(--navi-box-border);
	display: inline-block;
	padding: 2px 8px;
}
.navi-bar-square-self {
	background: var(--navi-box-bg-current);
	border: 1px solid var(--navi-box-border);
	display: inline-block;
	font-weight: bold;
	padding: 2px 8px;
}
.navi-single {
	/* background : pink; */
	margin-bottom: 15px;
}
.navi-prev, .navi-next {
	background: var(--navi-box-bg);
	border: 1px solid var(--navi-box-border);
	display: inline-block;
	font-size: 92%;
	padding: 3px 10px;
	max-width: 45%;
}
.navi-prev a, .navi-next a {
	text-decoration: none;
}
.navi-prev {
	text-align:left;
}
.navi-next {
	float: right;
	text-align:right;
}
.navi-bar a, .navi-bar-square a, .navi-prev a, .navi-next a {
	color: var(--navi-color);
}
.navi-bar-square-self a { /* keep this one AFTER other .a */
	color: var(--navi-color-current);
}
.navi-bar a:hover, .navi-bar-square:hover, .navi-next:hover, .navi-prev:hover {
	font-weight: bold;
	text-decoration: underline;
}
.credit, .credit a:link, .credit a:hover, .credit a:visited {
	color: var(--credit-color);
	font-size: 90%;
	text-decoration: none;
	font-weight: bold;
	/* background: pink; */
}
#footer-global {
	font-size: 85%;
	text-align: center;
	padding-bottom: 25px;
}
/*--- on-footer theme selector ---*/
select {
	opacity: 0.75;
}
select:hover {
	opacity: 1;
}
