/* colour scheme -- kirisame - drizzle */

:root {
	/* https://wallpapercave.com/w/2ynGeyb */
	--body-img: url("../img/bg_kirisame.jpg");
	--mizuhiki: url("../img/mizuhiki_yellow_white.png");
	--title-img: url("../img/header_blue_green.png");
	--body-bg: #a7adb9;
	--master-wrap-border: #5476b2;
	--master-wrap-bg: rgba(255,255,255,0.6);
	--body-text-color: #19242d;
	--body-link-color: #2a83ff;
	--post-date-color: #4173af;
	--post-shell-bg: rgba(255,255,255,0.85);
	--post-shell-border: #5f6671;
	--post-h3-bg: #c7cedc;
	--post-h3-bg-hover: #abbdd3;
	--post-h3-color: #525659;
	--post-box-shadow: #9ca5b7;
	--post-h4-border: #a3b6cd;
	--post-h4-color: #506988;
	--post-block-bg: rgba(198,208,214,0.4);
	--archiv-list-hover: #dee2e7;
	--archiv-list-border: #4e6786;
	--menu-border: #7c8cb1;
	--menu-color: #44667a;
	--menu-bg: rgba(255,255,255,0.7);
	--menu-hover-bg: rgba(149,173,200,0.7));
	--menu-hover-color: #fff;
	--menu-hover-border: #77839a;
	--gallery-img-border: rgba(255,255,255,0.6);
	--gallery-grid-overlay-bg: rgba(12,27,40,0.7);
	--gallery-grid-overlay-color: #f1f1f1;
	--gallery-border: #85a2be;
	--gallery-box-shadow: #b1b1b1;
	--navi-color: #46443e;
	--navi-color-current: #46443e;
	--navi-color-hover: #fff;
	--navi-box-border: #4d515c;
	--navi-square-bg: rgba(255,255,255,0.4);
	--navi-square-bg-current: #939aa7;
	--credit-color: #6c6c63;
}
