/*------ for layout, and shared effects ----------*/
@font-face {
	font-family: 'Cherry Cream Soda';
	font-style: normal;
	font-weight: 400;
	src: local('Cherry Cream Soda'), local('CherryCreamSoda'), url(http://themes.googleusercontent.com/static/fonts/cherrycreamsoda/v4/OrD-AUnFcZeeKa6F_c0_W7qBN36jQhVLTmQ9NDizP_4.ttf) format('truetype');
}

/*--------SHARED layout style ---------*/
.outlayer, .post-outer .datetime, .post-inner-shell, .post-inner h3, .post-inner .content, .post-inner .content blockquote {
	overflow-x: hidden;
	overflow-y: hidden;
}
#outlayer, #footer-outer, .post-outer, .post-inner .content blockquote {
	margin-left: auto;
	margin-right: auto;
}
.p {/* make a <div> like a <p> . reduce getting errors of nesting p and div inproperly*/
	margin: 10px auto;
}

/*-------global layout-------*/
body {
	font-family: meiryo, "メイリオ", arial,verdana,sans-serif;
	font-size: 16px; /*default 16*/
}
#outlayer {
	width: 1150px;
	margin-top: 55px;
	margin-bottom:70px;
	display: block;
}
#header-outer {
	height:300px;
}
#header-outer h1 {
	display:none;
}
#mainlayer {
	z-index:100;
	padding: 0 30px;\
/*	background: violet;*/
}

/*--------posts layout--------*/
.post-outer {
	display: block;
	margin-bottom: 55px;
	/*background: green;*/
}
.post-inner-shell { /* applies trans-white bg , or a second img on top, etc...*/
	position:relative;
	z-index:5;
	margin: 0px 40px 0;
	border-radius: 3px;
}
.post-inner { /* applies bottom layer bg */
	padding: 10px;
}
.static,.content {
/*static for general html */
/* content for posts, b/c i have special img effect here*/
	padding: 5px 50px 30px;
}

/*------- shared style ---------*/
.post-inner h2 {
	text-align:center;
	font-family: 'Cherry Cream Soda', cursive;
	margin-bottom:-10px;
}
.post-inner h3 {
	margin: 35px 40px 10px;
	padding: 7px 17px;
	font-family: 'Cherry Cream Soda', cursive;
	font-weight: bold;
	font-size: 150%;
	display: block;
	border-radius: 5px;
}
blockquote {
	margin:30px auto;
	padding:15px 20px;
	border-radius: 5px;
	width: 85%;
}
.line { /*kiyo-styled <hr /> tag~*/
	color:#de6666; /* used when browser doesn't work with gradient or is of non=webkit */
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	background: -webkit-repeating-linear-gradient(left top,#DE6666,#C996D9 8%,#6A7BD9 16%,#8CCBCF 24%,#74C285 32%,#EBDA7B 40%,#FFA154 48%, #DE6666 56%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
	font-weight: bold;
	line-height: 200%;
	vertical-align:middle;
	font-family: "Lucida Console", Monaco, monospace;
	display:block; /*in case I put it in a <span>*/
	white-space: nowrap; /* limit this elem to be in one line*/
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.bigger { font-size: 135%; }
.smaller { font-size:80%; }
/* -- div align ---*/
.d-mid {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.d-right { float: right; }
.d-left { float: left; }
/* -- txt align ---*/
.mid { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }

/*-------general--------*/
a:link, a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/*--------footer-------*/
#footer-outer .navi-prev, #footer-outer .navi-next {
	max-width: 35%;
	display: inline-block;
	padding: 3px 5px;
}
#footer-outer {
	margin: -50px 0 40px;
	padding: 20px 30px;
}
#footer-outer .navi-prev {
	float: left;
	text-align:left;
}
#footer-outer .navi-next {
	float: right;
	text-align:right;
}

/*------menu bar-----------*/
#menu-out { /* outer shell */
/*border:1px blue solid;*/
	display:block;
	max-width:90%;
	height:70px;
	font-family: "Book Antiqua","Palatino Linotype", Palatino, "MS Mincho", serif;
	margin-top: 200px;
	margin-right:9%;
	float: right;
}
ul#menu li {
	position: relative;
	margin:0 3px;
}
ul#menu li, ul#menu ul.sub-menu li {
	z-index:30;
	width: 80px;
	text-align:center;
    list-style-type: none;
    display: inline-block;
}
ul#menu li ul.sub-menu {
	padding-top:3px;
	display:none;
	position: absolute;
	width: 80px;
	margin-left:-44px;
}
ul#menu li:hover ul.sub-menu { /* show sub menu on hover */ 
	display:block;
}
ul#menu ul.sub-menu li {
	margin:3px;
}
ul#menu li a, ul#menu li ul.sub-menu li a {
    text-decoration: none;
    font-weight:bold;
    padding: 5px;
    display:inline-block;
}

/*--------effects for posts--------------*/
.datetime {
	border-bottom:none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 80%;
	padding: 5px 15px 0px;
	position: relative;
	display:inline;
	width: 330px;
	height: 25px;
	left: 70%;
	margin-right:-10px;
	margin-bottom: -10px;
}
.content img {
	padding: 3px;
	margin: 5px;
	width: 55%;
	transition:width 0.5s;
}
.content img:hover {
	width:100%;
}
.lock { /*for small image that I don't want to expand on hover*/
	width:auto !important;
	transition:none;
	max-width:55%;
}
/* for inserted codes */
pre .codespan, .codeblock { /* both are for codes */
	font-family: "Lucida Console", Monaco, monospace;
}
pre, .codeblock { /* when it's NOT in a span */
	display: block;
	padding: 15px 20px;
	margin: 10px;
}
.codespan {
	display: inline !important;
	border: none;
	padding: 3px 5px;
	margin: inherit;
}

/*----------table-----------*/
table {
	border-width: 0 0 1px 1px;
	border-spacing: 0;
	border-collapse: collapse;
	border-style: solid;
}
td, th {
	text-align: center;
	margin: 0;
	border-width: 1px 1px 0 0;
	border-style: solid;
}
