<TMPL_INCLUDE NAME="../shared/html_begin.tmpl">
<TMPL_INCLUDE NAME="../shared/head_meta.tmpl">
<TMPL_INCLUDE NAME="../shared/head_general_js.tmpl">
<title><TMPL_VAR NAME=PAGE_TITLE></title>
<TMPL_INCLUDE NAME="../shared/head_close.tmpl">
<TMPL_INCLUDE NAME="../shared/page_top_banner.tmpl">
<TMPL_INCLUDE NAME="../shared/menu.tmpl">
<TMPL_INCLUDE NAME="../shared/page_top_close.tmpl">
<TMPL_INCLUDE NAME="../shared/search_box.tmpl">
<TMPL_INCLUDE NAME="../shared/page_main_begin.tmpl">
<h2>♪ <TMPL_VAR NAME=SECT_TITLE> ♪</h2>
<div class="static">
<TMPL_LOOP NAME="archiv">
<h3>☆ <TMPL_VAR NAME=year> ☆</h3>
<div class="archiv">
<ul>
<TMPL_LOOP NAME="list"><li><TMPL_VAR NAME=url><span class="archivdate"><TMPL_VAR NAME=date></span> <TMPL_VAR NAME=title></a></li></TMPL_LOOP>
</ul>
</div><!-- .archiv -->
</TMPL_LOOP>
<TMPL_IF NAME="edit"><div class="inline-box"><a href="<TMPL_VAR NAME=edit>">edit</a></div></TMPL_IF>
</div><!-- .static -->
<TMPL_INCLUDE NAME="../shared/page_main_end.tmpl">
<TMPL_INCLUDE NAME="../shared/page_main_end2.tmpl">
<TMPL_IF NAME="prev"><div class="navi-prev"><a href="<TMPL_VAR NAME=prev>">⇦ Prev</a></div></TMPL_IF>
<TMPL_IF NAME="next"><div class="navi-next"><a href="<TMPL_VAR NAME=next>">Next ⇨</a></div></TMPL_IF>
<TMPL_INCLUDE NAME="../shared/page_bottom.tmpl">
<TMPL_INCLUDE NAME="../shared/page_bottom2.tmpl">