<TMPL_INCLUDE NAME="../shared/html_begin.tmpl">
<TMPL_INCLUDE NAME="../shared/head_meta.tmpl">
<TMPL_INCLUDE NAME="../shared/head_general_js.tmpl">
<TMPL_INCLUDE NAME="../shared/head_img_js.tmpl">
<title><TMPL_VAR NAME=PAGE_TITLE></title>
<TMPL_INCLUDE NAME="../shared/head_close.tmpl">
<TMPL_INCLUDE NAME="../shared/page_top_banner.tmpl">
<TMPL_INCLUDE NAME="../shared/menu.tmpl">
<TMPL_INCLUDE NAME="../shared/page_top_close.tmpl">
<TMPL_INCLUDE NAME="../shared/search_box.tmpl">
<TMPL_INCLUDE NAME="../shared/page_main_begin.tmpl">
<h2>❀ <TMPL_VAR NAME=title> ❀</h2>
<TMPL_IF NAME="main"><TMPL_INCLUDE NAME="_idx_mygirls.html"></TMPL_IF><!-- that's everything for an index page -->

<TMPL_IF NAME="need_pin">
<blockquote>
<form action="/mygirls" method="post" accept-charset="utf-8">
<input type="hidden" name="id" value="<TMPL_VAR NAME=id>">
<div style="font-weight:bold">~pin protected content~</div>
pin: <input type="password" name="pin" value=""><br />
hint: <TMPL_VAR NAME="pin_hint"><br />
<input type="submit" name="opt" value="unlock" onclick="this.form.target='_self'">
</form>
</blockquote>
<TMPL_ELSE>
<TMPL_IF NAME="intro"><blockquote><ul><TMPL_VAR NAME=intro></ul></blockquote></TMPL_IF>
<noscript><h2>!!!javascript is required to display all contents of this page.</h2></noscript>
<TMPL_IF NAME="pcs1"><div class="fadein"><TMPL_LOOP NAME="pcs1">
	<div class="stdalone"><img src="<TMPL_VAR NAME=img>" alt=""/><br /><TMPL_VAR NAME=url></div>
</TMPL_LOOP></div></TMPL_IF>
<TMPL_IF NAME="pcs2">
<TMPL_IF NAME="indiv"><div style="margin-top: 25px; border-bottom: 3px double #E8708C; display:block; text-align:center; width: 90%; font-size: 120%; text-shadow: 2px 2px 3px #bd8db4; margin: auto; "><b>..｡o○☆*:ﾟ･: Arrangements & Variations :･ﾟ:*☆○o｡..</b></div></TMPL_IF>
<div class="Collage">
<TMPL_LOOP NAME="pcs2">
	<div class="Image_Wrapper"<TMPL_IF NAME="title"> data-caption="<TMPL_VAR NAME=title>"</TMPL_IF>><a href="<TMPL_VAR NAME=url>"><img src="<TMPL_VAR NAME=img>" alt=""/></a></div>
</TMPL_LOOP>
</div></TMPL_IF>
</TMPL_IF>
<TMPL_IF NAME="archiv"><!-- archiv::year view only -->
<div class="line" style="text-align:center">☆○o*:━:*o○☆○o*:━:*o○☆○o*:━:*o○☆○o*:━:*o○☆</div>
<div class="archiv">
<ul class="smaller">
<TMPL_LOOP NAME="archiv"><li><a href="/mygirls/<TMPL_VAR NAME=url>"><span class="archivdate"><TMPL_VAR NAME=date></span> <TMPL_VAR NAME=title></a></li></TMPL_LOOP>
</ul>
</div><!-- .archiv -->
</TMPL_IF>
<TMPL_IF NAME="edit"><div class="inline-box"><a href="<TMPL_VAR NAME=edit>">edit</a></div></TMPL_IF>
<TMPL_INCLUDE NAME="../shared/page_main_end.tmpl">
<script>$('.fadein').neatShow({ speed:444,mode: 'container'});</script>
<TMPL_INCLUDE NAME="../shared/page_main_end2.tmpl">
<TMPL_IF NAME="prev"><div class="navi-prev"><a href="<TMPL_VAR NAME=prev>">⇦ <TMPL_IF NAME=prev1><TMPL_VAR NAME=prev1><TMPL_ELSE>Prev</TMPL_IF></a></div></TMPL_IF>
<TMPL_IF NAME="next"><div class="navi-next"><a href="<TMPL_VAR NAME=next>"><TMPL_IF NAME=next1><TMPL_VAR NAME=next1><TMPL_ELSE>Next</TMPL_IF> ⇨</a></div></TMPL_IF>
<TMPL_INCLUDE NAME="../shared/page_bottom.tmpl">
<TMPL_INCLUDE NAME="../shared/page_bottom2.tmpl">