<TMPL_INCLUDE NAME="../shared/html_begin.tmpl">
<TMPL_INCLUDE NAME="../shared/head_meta.tmpl">
<TMPL_INCLUDE NAME="../shared/head_general_js.tmpl">
<TMPL_INCLUDE NAME="../shared/head_img_js.tmpl">
<title><TMPL_VAR NAME=PAGE_TITLE></title>
<TMPL_INCLUDE NAME="../shared/head_close.tmpl">
<TMPL_INCLUDE NAME="../shared/page_top_banner.tmpl">
<TMPL_INCLUDE NAME="../shared/menu.tmpl">
<TMPL_INCLUDE NAME="../shared/page_top_close.tmpl">
<TMPL_INCLUDE NAME="../shared/search_box.tmpl">
<TMPL_INCLUDE NAME="../shared/page_main_begin.tmpl">
<h2>❀ <TMPL_VAR NAME=title> ❀</h2>
<noscript><h2>!!!javascript is required to display all contents of this page.</h2></noscript>
<div class="Collage">
<TMPL_LOOP NAME="pcs2"><div class="Image_Wrapper"<TMPL_IF NAME="title"> data-caption="<TMPL_VAR NAME=title>"</TMPL_IF>><a href="<TMPL_VAR NAME=url>"><img src="<TMPL_VAR NAME=img>" alt=""/></a></div></TMPL_LOOP>
</div>
<div class="line" style="text-align:center">☆○o*:━:*o○☆○o*:━:*o○☆○o*:━:*o○☆○o*:━:*o○☆</div>
<div class="archiv">
<ul class="smaller">
<TMPL_LOOP NAME="archiv"><li><a href="<TMPL_VAR NAME=url>"><span class="archivdate"><TMPL_VAR NAME=date></span> <TMPL_VAR NAME=title></a></li></TMPL_LOOP>
</ul>
</div><!-- .archiv -->
<TMPL_INCLUDE NAME="../shared/page_main_end.tmpl">
<TMPL_INCLUDE NAME="../shared/page_main_end2.tmpl">
<TMPL_IF NAME="prev"><div class="navi-prev"><a href="<TMPL_VAR NAME=prev>">⇦ Prev</a></div></TMPL_IF>
<TMPL_IF NAME="next"><div class="navi-next"><a href="<TMPL_VAR NAME=next>">Next ⇨</a></div></TMPL_IF>
<TMPL_INCLUDE NAME="../shared/page_bottom.tmpl">
<TMPL_INCLUDE NAME="../shared/page_bottom2.tmpl">