<TMPL_INCLUDE NAME="../shared/html_begin.tmpl">
<TMPL_INCLUDE NAME="../shared/head_meta.tmpl">
<TMPL_INCLUDE NAME="../shared/head_general_js.tmpl">
<title><TMPL_VAR NAME=PAGE_TITLE></title>
<style>
.gplus-entry img {
	max-width: 97%;
}
.gplus-entry {
	vertical-align: top;
	max-width: 49%;
	display:inline-block;
	/*background: orange;*/
	overflow:hidden;
}
</style>
<TMPL_INCLUDE NAME="../shared/head_close.tmpl">
<TMPL_INCLUDE NAME="../shared/page_top_banner.tmpl">
<TMPL_INCLUDE NAME="../shared/menu.tmpl">
<TMPL_INCLUDE NAME="../shared/page_top_close.tmpl">
<TMPL_INCLUDE NAME="../shared/page_main_begin.tmpl">
<h2>&#9834; Off-Keys</h2>
<TMPL_LOOP NAME="posts">
<div class="gplus-entry">
<div class="gplus-time"><i><a href="<TMPL_VAR NAME=permlink>"><TMPL_VAR NAME=timestamp></a></i></div>
<div class="gplus-annotation"><TMPL_VAR NAME=annotation></div>
<TMPL_IF NAME=from_url><div class="gplus-quote"><a href="<TMPL_VAR NAME=from_url>">from <TMPL_VAR NAME=from_this></a></div></TMPL_IF>
<div class="gplus-content"><TMPL_VAR NAME=content></div>
<TMPL_IF NAME="attached"><div class="gplus-attach">
<TMPL_LOOP NAME=attached><div class="gplus-objtitle"><a href="<TMPL_VAR NAME=attach_url>"><TMPL_VAR NAME=attach_from></a></div>
<TMPL_IF NAME=attach_content><div class="gplus-objcont"><TMPL_VAR NAME=attach_content></div></TMPL_IF>
<TMPL_IF NAME=attach_samune><div class="gplus-objsamune"><TMPL_VAR NAME=attach_samune></div></TMPL_IF></TMPL_LOOP>
</div></TMPL_IF>
</div></TMPL_LOOP>

<TMPL_INCLUDE NAME="../shared/page_main_end.tmpl">
<TMPL_INCLUDE NAME="../shared/page_main_end2.tmpl">
<TMPL_IF NAME="prev"><div class="navi-prev"><a href="<TMPL_VAR NAME=prev_url>">&#8678; <TMPL_VAR NAME=prev></a></div></TMPL_IF>
<TMPL_IF NAME="next"><div class="navi-next"><a href="<TMPL_VAR NAME=next_url>"><TMPL_VAR NAME=next> &#8680;</a></div></TMPL_IF>
<TMPL_INCLUDE NAME="../shared/page_bottom.tmpl">
<TMPL_INCLUDE NAME="../shared/page_bottom2.tmpl">