/* colour scheme -- iroshizuku: kiri-same*/
body {
	background: #a7a4a9 url("https:// encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHsBoFVsNyNWlAJ7oD2Mfkw2PGHL0aCr2-tfaig_p0GECBimIroPBboOb91qzz-6IT8tw&usqp=CAU") no-repeat top right fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/* general text color */
body, .netabare:hover, .archiv li a, textarea {
	color:#373737;
}

/*-----------post---------------*/
.datetime, .datetime a {
	color: #8d7e95;
}
/* inline-box: for "edit" button when cookie is alive*/
/* post-shell: applies trans-white bg , or a second img on top, etc...*/
.post-shell, .inline-box {
	background: rgba(255,255,255,0.85);
	border: 1px solid rgb(101 92 106 / 80%);
}
.post-inner {
	background: url("/deco/img/splash_flower2.png") right bottom no-repeat; /* affects post block's bg */
}
.post-inner h2, .post-inner h3 {
	background: rgb(119 117 121);
	box-shadow: 0 5px 6px rgb(145 145 145);
}
.post-inner h2, .post-inner h3, .post-inner h3 a, .post-inner h3 a:hover {
	color: #fff;
}
.post-inner h3:hover {
	background: rgb(128 116 141 / 80%);
}
.post-inner h4 {
	border-left: 11px solid rgb(128 116 141 / 80%);
	border-bottom: 2px dotted rgb(128 116 141 / 80%);
}
.post-inner h4, .archiv-year a, .archiv-year a:hover {
	color: #5f646f;
}


/*-------archiv -------*/
.archiv-year { /* same as post h4 */
	border-left: 12px solid rgb(128 116 141 / 80%);
}
.archiv li {
	border-bottom: 1px #66616b dashed;
}
.archiv li:hover {
	background: rgb(135 132 138 / 10%);
}


a:link, a:hover, a:visited {
	color: #b532fe;
}
blockquote, textarea, pre, .netabare {
	background: rgb(171 167 172 / 20%);
}
blockquote {
	box-shadow: 3px 3px 4px #9b919e78;
}
.netabare {
	color:transparent;
}


/*-------- header ---------*/
#header-img {
	background: url("/deco/img/top_mizuhiki_blue.png") top left no-repeat;
}
/*------menu bar-----------*/
#menu-out { /* shell for both menu and img version of h1 */
/* border: 1px solid red; */
	background:url("/deco/img/top_text_bluered.png") top left no-repeat;
	background-position: 475px 20px; /* this MUST present in theme.css to support above background */
}
ul#menu li, ul#menu ul.sub-menu li {
	background: rgba(255,255,255,0.7);
	border: 1px solid rgb(91 90 91 / 50%);
}
ul#menu li a, ul#menu li ul.sub-menu li a {
	color: rgb(89 84 93);
}
ul#menu li:hover a, ul#menu ul.sub-menu li:hover a {
	color: #fff;
}
ul#menu li:hover, ul#menu ul.sub-menu li:hover {
	background: rgb(107 103 110 / 80%);
	border: 1px solid rgb(74 73 75 / 60%);
}

/*--------- layout -----*/
#master-wrap {
	background: rgb(255 255 255 / 0.4);
	border: 2px solid rgb(116 145 116 / 60%);
}


/*-------- img for both post and mg -----------*/
/* .gallery-img-frame: force the div to properly contain the floated images: */
/* .mgarchive-container: MG archive page, hover-to-show-title effect */
article img, .stdalone img, .gallery-img-frame, .mgarchive-container {
	border-color: #918f92;
}
.mgarchive-container {
	box-shadow: 1px 1px 3px #b1b1b1;
}
/*------- mygirls image frame -------*/
.stdalone img {
	background: rgba(255,255,255,0.6);
	box-shadow: 3px 3px 4px #b1b1b1;
}
.mgarchive-overlay {
	background: rgba(0, 0, 0, 0.7); /* Black see-through */
	color: #f1f1f1;
}
.mg-h-line {
	border-bottom: 3px double rgb(167 167 168);
	text-shadow: 2px 2px 2px rgb(163 149 169);
}


/*--------footer-------*/
.navi-bar a, .navi-bar-square a, .navi-prev a, .navi-next a {
	color:#453f47;
}
.navi-bar-square-self a {
	color: #fff;
}
.navi-bar-square, .navi-bar-square-self, .navi-prev, .navi-next {
	border: 1px solid #322d34;
}
.navi-bar-square {
	background: rgba(255,255,255,0.3);
}
.navi-bar-square-self {
	background: rgb(86 79 87 / 70%);
}
.navi-prev, .navi-next {
	background: rgba(255,255,255,0.4);
}
.credit, .credit a:link, .credit a:hover, .credit a:visited {
	color: #d6d2d7;
}
