/*---- for 404 page only 
currently not in use
-----*/
body {
    background:#0000aa;
    color:#ffffff;
    font-family:"Lucida Console", Monaco, monospace;
    font-size:16pt;
	line-height: 25px;
}
h1 {
    background:#fff;
    color:#0000aa;
    padding:5px 10px;
	font-size: 120%;
	display: inline-block;
}
.msg {
	text-align: left;
	width: 800px;
	margin-left:auto;
	margin-right:auto;
	margin-top:80px;
}
.cent {
	text-align: center;
}
.stat {
	color: #ccc;
}
.action {
	color: #ffff00;
}
.squd {
	background: #fff;
}
a:hover,a:visited,a:link {
	color: #fff !important;
	text-decoration: none;
}