/*------- COLOUR & IMG ONLY with necessary height/width settings, images go to main.css ----- */
a:link { color: #cf0080; }
a:hover { color: #cf0080; }
a:visited { color: #cf0080; }
blockquote {
	box-shadow: 3px 3px 4px #bdc4e5;
}
code, blockquote, pre, pre .codespan, .codespan, .codeblock {
	background: rgba(164,175,221,0.4);
}
textarea {
	background: rgba(164,175,221,0.4);
	border: 2px solid #d6b0e4;
	color: #00296e;
}
body {
	color:#00296e;
	background: #7294ba url(/elem/img/lastshow_bg.jpg) no-repeat bottom center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#outlayer { /* main box. largest*/
	background: rgba(255,255,255,0.4);
	border: 5px solid rgba(244,255,90,0.7);
}
#header-img {
	background: url(/elem/img/top_mizuhiki_purpleblue.png) top left no-repeat;
	height:285px;
	width: 400px;
}
.netabare {
	color:transparent;
	background: rgba(164,175,221,0.4);
}
.netabare:hover {
	color:#00296e;
}
.datetime , .datetime a {
	color: #000f67;
}
.inline-box { /* "edit" button when session is active*/
	background: rgba(255,255,255,0.7);
	border: 1px solid #000f67;
}
.post-inner-shell {
	box-shadow: 3px 3px 4px #dc7bb8;
	background: rgba(255,255,255,0.9);
	border: 1px solid #a7bfe4;
}
.post-inner { /* affects post block's bg */
	background: url(/elem/img/clip_hane_blue.png) right bottom no-repeat;
}
.post-inner h2 {
	border: 4px double #c6bbef;
	background: rgba(255,255,255,0.4);
	box-shadow: 2px 2px 3px #8f91e0;
}
.post-inner h3 {
	border: 1px solid #c6bbef;
	background: rgba(193,191,250,0.5);
	box-shadow: 3px 3px 4px #8f91e0;
}
.post-inner h3:hover {
	background: rgba(193,191,250,0.3);
}
.post-inner h4 { /* for in-post h4's*/
	border-left: 8px solid rgba(193,191,250,0.9);
}
.post-inner h2 a, .post-inner h2, .post-inner h3,.post-inner h3 a, .post-inner h3:hover a { /* colouring titles */
	color:#00296e;
	text-shadow: 2px 2px 3px #8f91e0;
}
.idx-txt a:visited, .idx-txt a:hover, .idx-txt a {
	color:#00296e;
}
.navi-bar, .navi-bar a {
	color:#294809;
}
.navi-bar-square, .navi-bar-square-self {
	border: 1px solid #829073;
}
.navi-bar-square {
	background: rgba(220,196,135,0.5);
}
.navi-bar-square-self {
	background: rgba(214,228,177,0.7);
}
.navi-prev a, .navi-next a {
	color:#294809;
	text-shadow: 1px 1px #7c9d41;
}
.navi-prev, .navi-next {
	border: 1px solid #829073;
	background: rgba(220,196,135,0.6);
}
#footer-global a:link, #footer-global a:hover, #footer-global a:visited {
	color: #efff4e;
}

#menu-out { /* shell for both menu and img version of h1 */
	background:url('/elem/img/top_text_170731.png') top left no-repeat;
	background-position:30px 20px;
}
ul#menu li, ul#menu ul.sub-menu li {
	background: rgba(255,255,255,0.6);
	border: 1px solid rgba(255,255,255,0.5);
}
ul#menu li a, ul#menu li ul.sub-menu li a {
	color: rgba(29,17,82,1);
}
ul#menu li:hover, ul#menu ul.sub-menu li:hover {
	background: rgba(255,255,255,0.3);
}
article img {
	border: 6px double #9bb284;
}
.stdalone img {
	border: 6px double #9bb284;
	background: rgba(255,255,255,0.6);
	box-shadow: 3px 3px 4px #8ca86f;
}
.gallery-img-title-block { /* for index-tag mode only? */
	color: #000;
}
.gallery-img-frame, .gallery-img-frame-mid, .gallery-img-frame-mini { /* force the div to properly contain the floated images: */
	border: 4px double #9bb284;
}
.archiv li {
	border-bottom: 1px #5e76ad dashed;
}
.archiv li:hover {
	background: rgba(234,233,143,0.5);
}












