div { padding: 10px; }
body {
	background: #fef url('/elem/img/bg_vert_violet.png') top center repeat fixed;
	font-size: 24px;
	font-weight: bold;
	color:#3d3d94;
	text-align: center;
	padding: 100px;
}
