<script src="/elem/js/jquery.neatshow.min.js"></script>
<script src="/elem/js/collageplus/jquery.collagePlus.js"></script>
<script src="/elem/js/collageplus/jquery.removeWhitespace.min.js"></script>
<script src="/elem/js/collageplus/jquery.collageCaption.min.js"></script>
<script src="/elem/js/collageplus/self_load.js"></script>