<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/elem/js/smiley.js"></script>
<!--<script src="/elem/js/konami.js"></script>-->
<script src="/elem/js/toggle_display.js"></script>
<link rel="stylesheet" type="text/css" href="/elem/css/main.css" />
<link rel="stylesheet" type="text/css" href="/elem/css/mini.css" />