#index-toparea {
	background: url('/elem/img/top170731hoshikagaya.png') top center no-repeat;
	height:300px; / * same as idxtop.png * /
	margin:30px auto auto;
	border-radius: 5px;
}
#top-tagline {
	font-family: Impact, Charcoal, sans-serif;
	font-size:200%;
	margin: 10px auto 25px;
	text-align:center;
	text-shadow: 2px 1px 8px #7765c7;
}
h2 {
	font-size: 110%;
	width: 95%;
	margin: 0 auto;
}
h5 {
	margin: 7px 10px -10px;
}

/*---- tweet updates -----*/
.feed-post-time {
	font-size: 95%;
	font-style: italic;
	font-weight: bold;
}
.feed-post-author img {
	height: 100%;
	width: auto;
}
.feed-post-author {
	height: 15px;
	width: 15px;
	display: inline-block;
	
}
.feed-grid {
	margin: 10px 2px;
	padding: 5px 10px;
	border: 1px solid #aaa;
	word-wrap: break-word;
}
.feed-grid:hover {
	background: rgba(195,142,211,0.3);
}
table.post-grid {
	table-layout: fixed;
	margin:auto;
	width: 98%; /* REQUIRED to make col-width working! */
}
.post-grid-col {
	vertical-align:top;
	width: 33% !important;
}
#feed-show-inner {
	overflow:auto;	
	margin-right: -20px;
	max-height: 700px;
}
#feed-show {
	font-size: 90%;
	max-height: 800px;
	/*width:100%;*/
	overflow:hidden;
}
.feed-post-attach img {
	width:94%;
	border: 1px solid rgba(144,91,171,0.3);
	background: rgba(255,255,255,0.8);
	padding: 4px;
}

/*--- twitter api ----*/
#twi-msg {
  margin: 0;
}
#twi-box {
	background: rgba(255,255,255,0.3);
	border: 1px #5d2985 dashed;
	width: 90%;
	padding: auto 30px;
	margin: auto auto 30px;
}
#twi-msg li {
	list-style:none;
}
#twi-msg p {
	margin: 0;
	padding: 0;
}
